{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-dark fw-bold mb-4 mt-4" style="text-decoration: underline;">Category -> {{category.category_name}}</h1>

<div class="col-md-8 blog-main">
    {% if blog %}
    {% for i in blog %}
   
    <div class="blog-post">
      <a href="{% url 'blogs' i.slug %}" class="text-dark" style="text-decoration: none;"><h2>{{i.title}}</h2></a>
      <p class="blog-post-meta">{{i.created_at}} by <a href="#">{{i.author}}</a></p>

      <p>{{i.short_description}}</p>
     
      <p>{{i.blog_body | truncatewords:40}}</p>
     
      {% endfor %}

      {% else %}

      <p  style="font-size: 2rem; font-weight: 600;";">There is No Article Found </p>
      
      {% endif %}

    </div>
    </div>



{% endblock %}