{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- leftsideBar -->
    {% include 'dashboard/Sidebar.html' %}
     <!--right SideBar-->
    
     <div class="col-md-9">
        <h2>Edit Category</h2>
        <form action="{% url 'editing' data.id %}" method="POST" style="width: 600px;">
            {% csrf_token %}
            {{forms | crispy }}
            <button type="submit" class="bg-warning btn">Save</button>
        </form>
     </div>
</div>
{% endblock %}